//
// Loaders
// --------------------------------------------------

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: $white;
    z-index: 9998;
    display: block;
    // opacity: 0;
    // visibility: hidden;
    // @include transition(all 300ms ease);
    
    #loader-svg {
        left: 50%;
        margin-left: -20px;
        margin-top: -23px;
        position: absolute;
        top: 50%;

        svg path,
        svg rect{
          fill: $pink-primary;
        }
    }
    &.show {
        opacity: 1;
        visibility: visible;
        @include transition(all 300ms ease);
    }
    
    .message {
        position: absolute;
        top: 50%;
        left: 50%;
        
        @include transform(translate(-50%, -50%));

    }
}
